*
{
width: 50;
height: 30;
background-size: cover;
}
h1{
font-size: x-large;
text-decoration-line: underline;
text-align: center;
font-style: italic;
}
img{
height: 200;
width: 200;
border-width: 5px;
border-style: solid;
border-radius: 50px;
}
div
{
text-align: right;
text-decoration: rgb(102, 0, 255);
}
button:active
{
background-color: rgb(112, 79, 9) ;

}
button:hover{
color: rgb(80, 45, 6);

}
.s{
    background-color: rgb(171, 226, 43);
}
ul{
    text-align: right;
}
/*li{*/
    li{
        display:inline;
        border:50px ;
        margin: 30px;
        background-color: rgb(156, 146, 219);
        border-radius: 80px;
        
        }
/*display:inline;
border:40px ;
background-color: white;
margin: 16px;
border-radius: 30px;

}*/
.H
{
text-align: center;
height: 200;
width: 500;
border-width: 5px;
border-style: solid;
border-color: rgb(30, 126, 173);
padding-top:50px;
padding-right: 30px;
padding-bottom: 50px;
padding-left: 30px;
margin: 50px;
background-shadow:0 0 10px;
background-color: white;
}
.L{
    
}